$base-space: 0.375rem;
$space-1: $base-space * 1; //6px
$space-2: $base-space * 2; //12px
$space-3: $base-space * 3; //18px
$space-4: $base-space * 4; //24px
$space-5: $base-space * 5; //30px
$space-6: $base-space * 6; //36px
$space-7: $base-space * 7; //42px
$space-8: $base-space * 8; //48px
$space-9: $base-space * 9; //54px
$space-10: $base-space * 10; //60px

// Padding
@mixin p--1 {
  padding: $space-1; //6px
}
@mixin p--2 {
  padding: $space-2; //12px
}
@mixin p--4 {
  padding: $space-4; //24px
}
@mixin p--6 {
  padding: $space-6; //36px
}
@mixin p--8 {
  padding: $space-8; //48px
}
@mixin p--10 {
  padding: $space-10; //60px
}

// Padding y
@mixin py-1 {
  padding-top: $space-1;
  padding-bottom: $space-1;
}
@mixin py-2 {
  padding-top: $space-2;
  padding-bottom: $space-2;
}
@mixin py-4 {
  padding-top: $space-4;
  padding-bottom: $space-4;
}
@mixin py-6 {
  padding-top: $space-6;
  padding-bottom: $space-6;
}
@mixin py-8 {
  padding-top: $space-8;
  padding-bottom: $space-8;
}
@mixin py-10 {
  padding-top: $space-10;
  padding-bottom: $space-10;
}

// Padding x
@mixin px-1 {
  padding-left: $space-1;
  padding-right: $space-1;
}
@mixin px-2 {
  padding-left: $space-2;
  padding-right: $space-2;
}
@mixin px-4 {
  padding-left: $space-4;
  padding-right: $space-4;
}
@mixin px-6 {
  padding-left: $space-6;
  padding-right: $space-6;
}
@mixin px-8 {
  padding-left: $space-8;
  padding-right: $space-8;
}
@mixin px-10 {
  padding-left: $space-10;
  padding-right: $space-10;
}

// Margin
@mixin m--1 {
  margin: $space-1; //6px
}
@mixin m--2 {
  margin: $space-2; //12px
}
@mixin m--4 {
  margin: $space-4; //24px
}
@mixin m--6 {
  margin: $space-6; //36px
}
@mixin m--8 {
  margin: $space-8; //48px
}
@mixin m--10 {
  margin: $space-10; //60px
}

// Margin y
@mixin my-1 {
  margin-top: $space-1;
  margin-bottom: $space-1;
}
@mixin my-2 {
  margin-top: $space-2;
  margin-bottom: $space-2;
}
@mixin my-4 {
  margin-top: $space-4;
  margin-bottom: $space-4;
}
@mixin my-6 {
  margin-top: $space-6;
  margin-bottom: $space-6;
}
@mixin my-8 {
  margin-top: $space-8;
  margin-bottom: $space-8;
}
@mixin my-10 {
  margin-top: $space-10;
  margin-bottom: $space-10;
}

// Margin x
@mixin mx-1 {
  margin-left: $space-1;
  margin-right: $space-1;
}
@mixin mx-2 {
  margin-left: $space-2;
  margin-right: $space-2;
}
@mixin mx-4 {
  margin-left: $space-4;
  margin-right: $space-4;
}
@mixin mx-6 {
  margin-left: $space-6;
  margin-right: $space-6;
}
@mixin mx-8 {
  margin-left: $space-8;
  margin-right: $space-8;
}
@mixin mx-10 {
  margin-left: $space-10;
  margin-right: $space-10;
}
